<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhuzichu.android.home">

    <application>
        <activity android:name=".ActivityHome"
            android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize|screenLayout|uiMode"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>
    </application>

</manifest>