<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhuzichu.android.launcher">

    <application>
        <activity
            android:name=".ActivityLauncher"
            android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize|screenLayout|uiMode"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
    </application>

</manifest>