<?xml version="1.0" encoding="UTF-8" ?><!DOCTYPE modules SYSTEM "module.dtd" >
<modules>
    <module name="module-login" app="false"
        application="com.zhuzichu.android.login.ApplicationLogin" />
    <module name="module-main" app="false"
        application="com.zhuzichu.android.main.ApplicationMain" />
    <module name="module-home" app="false"
        application="com.zhuzichu.android.home.ApplicationHome" />
    <module name="module-me" app="false" application="com.zhuzichu.android.me.ApplicationMe" />
    <module name="module-setting" app="false"
        application="com.zhuzichu.android.setting.ApplicationSetting" />
    <module name="module-web" app="false"
        application="com.zhuzichu.android.web.ApplicationWeb" />
    <module name="module-repository" app="false"
        application="com.zhuzichu.android.repository.ApplicationRepository" />
    <module name="module-search" app="false"
        application="com.zhuzichu.android.search.ApplicationSearch" />
    <module name="module-viewer" app="false"
        application="com.zhuzichu.android.viewer.ApplicationViewer" />
</modules>